<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>九幽玄天神功</title>
</head>
<body>
<p>天得一以日月星辰长清，地得一以珠玉珍长宁，人得一以神气精长存，一者，本也，本乃道之体，道无体，强曰体。九幽有玄天，上玄下九幽；勿约而自同，生死之昭彰；摄阴半摄魂，无相亦无尚；黑白终不化，气海挂灵堂。</p>

<p>欲习此功者，务必心存恨意，杀伐果决，以杀气养身，以意念行气，厥气上行，满脉去形，神分脘建中，尾庭中堂宫，经络之气，畅通经脉之海，方可以阴制阳，自此，无气不顺，无脉不通，无所不敌！神阙，水分，下脘，建里，中脘，鸠尾，中庭，膻中，玉堂。</p>



<h3>《九幽玄天神功》武学：

    <p>玄冥教的镇教神功，至阴至邪。为当世绝顶神功，威力之强，所向无敌。练成之后，全身上下散发九幽地狱之气，犹如阴鬼缠身，煞气逼人。出招时鬼哭神嚎，阴气漫天，一掌打出犹如黑暗降临，吞噬万物，威猛无比，势不可挡，普通人若是中招，顷刻之间，就会被化成飞灰。</p>

    <p>此神功分上下两卷，上卷名为《九幽》，下卷名为《玄天》。要修炼此神功，必须上下同修，若只修炼一卷，则达不到最高境界，还会走火入魔，变成不人不鬼的样子。</p>

<!--{{ flag }}-->

</body>
</html>