<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        /* 使用 CSS 设置背景图片 */
        body {
            background-image: url("{{ url_for('static',filename='syc.jpg')}}"); /* 替换为你的图片路径 */
            background-size: cover; /* 图片尺寸适应整个屏幕 */
            background-repeat: no-repeat; /* 防止图片重复显示 */
            background-attachment: fixed; /* 图片固定在视窗中 */
        }

        /* 可以继续添加其他 CSS 样式 */
    </style>
</head>
<body>
<h2>Welcome To Greek Challenge 2023</h2>
</body>

<!--来都来了,先去/register尝试注册个账号吧-->
</html>